name: Docker Image CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v3
    
    - name: Read version
      id: get_version
      run: echo "VERSION=$(cat .version)" >> $GITHUB_ENV

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Hub
      if: github.event_name != 'pull_request'
      uses: docker/login-action@v2
      with:
        username: ${{ secrets.DOCKERHUB_USERNAME }}
        password: ${{ secrets.DOCKERHUB_TOKEN }}

    - name: Build and push
      uses: docker/build-push-action@v4
      with:
        context: .
        push: ${{ github.event_name != 'pull_request' }}
        tags: |
          ${{ secrets.DOCKERHUB_USERNAME }}/call_chets:latest
          ${{ secrets.DOCKERHUB_USERNAME }}/call_chets:${{ env.VERSION }}
        # Pass build arguments for git info if needed, though Dockerfile arguments look for ARG
        build-args: |
          GIT_COMMIT=${{ github.sha }}
          GIT_DATE=$(date -u +'%Y-%m-%dT%H:%M:%SZ')
